html, body {
    background: #f8f8f8;
}
html, body, table {
    font-family: Verdana, "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, Arial, sans-serif;
    color: #202020;
}
body { font-size: 80%; }

.clear { clear: both; }
table { 
    border-spacing: 0;
    float: left;
}
tr { padding: 0; margin: 0; }
th { padding: 0.2em 0.5em; margin: 0; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; font-size: 85%; color: #999; }
th:last-child { border-right: 0; }
td { padding: 0; margin: 0; padding: 0.2em 0.5em; border-bottom: 1px solid #ccc; }

tr { background: transparent; }
tr.uploaded { background: #ddffdd; }
tr.failure { background: #ffdddd; }
tr.rejected { background: #FFFFE0; }
tr.todo { background: white; }
tr.building { background: #ffff99; }
tr.partial { background: #bbbbff; }

td.status-box { width: 1em; height: 1em; }
tr.uploaded td.status-box { background: green; }
tr.failure td.status-box { background: red; }
tr.rejected td.status-box { background: orange; }
tr.todo td.status-box { background: white; }
tr.building td.status-box { background: yellow; }
tr.partial td.status-box { background: blue; }

.timeinfo { font-size: 85%; text-align: right; color: #444444; }
.number, .percent { text-align: right; }

#stats { float: right; border-left: 1px solid #f0f0f0; }
#score { margin-bottom: 2em; font-family: Helvetica, Verdana, Arial, sans-serif; }
#score-box { width: 100px; height: 100px; background: #faa; }
#score-meter { width: 100px; background: #afa; }

.figure { font-size: 120%%; font-weight: bold; }

tr.build-files-list td ul { font-size: 85%; padding: 1em 0 2em 2em; color: #555; }
    tr.build-files-list td a { text-decoration: none; }