html, body {
    background: #f8f8f8;
    margin: 0;
    padding: 0;
}
html, body, table {
    font-family: Verdana, "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, Arial, sans-serif;
    color: #101010;
}
body { font-size: 80%; }

hr { display: none; }
article {
    position: absolute;
    top: 128px;
}
footer { margin: 0; padding: 0.4em 1em; background: #e0e0e0; color: #888; font-size: 80%; }
footer a { color: #555; text-decoration: none; }

.clear { clear: both; }
table { 
    border-spacing: 0;
}
tr { padding: 0; margin: 0; }
th { padding: 0.2em 0.5em; margin: 0; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; font-size: 85%; color: #999; }
th:last-child { border-right: 0; }
td { padding: 0; margin: 0; padding: 0.2em 0.5em; border-bottom: 1px solid #ccc; }
th, td { vertical-align: top; }

tr { background: transparent; }
tr.uploaded { background: #ddffdd; background: #bbffbb; }
tr.failure { background: #ffdddd; }
tr.rejected { background: #FFFFE0; }
tr.todo { background: white; }
tr.building { background: #ffff99; }
tr.partial { background: #bbbbff; }

.status-box { display: inline-block; width: 12px; height: 12px; }
tr.uploaded .status-box { background: green; }
tr.failure .status-box { background: red; }
tr.rejected .status-box { background: orange; }
tr.todo .status-box { background: white; }
tr.building .status-box { background: yellow; }
tr.partial .status-box { background: blue; }

.status-link { text-decoration: none; display: block; margin: 0; padding: 0; }

td.user,
td.status { white-space: nowrap; }

tr .media,
tr .timeinfo,
tr .revision { display: block; font-size: 85%; text-align: left; }

td .media,
td .timeinfo,
td .revision a { color: #606060; text-decoration: none; }

.number, .percent { text-align: right; }

#score { margin-bottom: 2em; font-family: Helvetica, Verdana, Arial, sans-serif; }
#score-box { width: 100px; height: 100px; background: #faa; }
#score-meter { width: 100px; background: #afa; }

.figure { font-size: 160%; font-weight: bold; }
.action-btn {
    text-decoration: none;
    background: #40a040;
    color: #ffffff;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 5px;
    font-size: 80%;
}

#stats, .figures, .builds { list-style: none; padding: 0; margin: 0 0 2em 2em; float: left; text-align: left; }

.builds table { width: 720px; }

#submitted-packages { width: 720px; }

tr.build-files-list td { font-size: 85%; padding: 1em 0 2em 0.5em; color: #222; }
    tr.build-files-list td ul { padding: 0 0 0 2em; }
    tr.build-files-list td a { text-decoration: none; }
    tr.build-files-list td h4 { margin: 0 0 0.6em 0; }

span.dir { font-weight: bold; }

.file-view {
    white-space: pre;
    resize: both;
    display: block;
    overflow: auto;
    word-wrap: break-word;
    box-shadow: 0 0 10px #303030;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 1em 0.7em;
    width: 680px;
    height: 13em;
    background: #202020;
    color: #f0f0fa;
    font-family: "Andale Mono", "Courier New", fixed;
    position: relative;
    left: -22px;
}
ul > li .file-view { left: -22px; }
ul > li > ul > li .file-view { left: -44px; }
ul > li > ul > li > ul > li .file-view { left: -66px; }

.short .file-view {
    height: 1.5em;
    width: 500px;
}

.controls {
    float: left;
    text-align: right;
}
.short .controls { display: none; }

.gotobo, .gototop, .close {
    margin: 0.6em 1em 0.6em 0;
    font-size: 90%;
}
.controls .p { display: inline; }

.hl-none { font-weight: bold; }
.hl { font-weight: bold; }
.hl-ok { color: #33ff33; }
.hl-info { color: #3e3eff; }
.hl-warn { color: orange; }
.hl-error { color: red; }
